name: First Pipeline

on:
  push:
    branches:
      - main

jobs:
  simple-job:
    runs-on: ubuntu-latest

    steps:
      - name: Say hello
        run: echo "Hello! Your first pipeline is running successfully."
